/* Webfont: Univers */@font-face {
    font-family: 'Univers55';
    src: url('Univers.eot'); /* IE9 Compat Modes */
    src: url('Univers.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Univers.woff') format('woff'), /* Modern Browsers */
         url('Univers.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Univers.svg#Univers') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

